    <div class="container-fluid" style="padding-top: 20px" ng-controller="OrganizerHomeController">
          <div class= "row">
              <div class = "col-lg-6">
         <h2> Hello {{model.organizer.name}}!! </h2>
         <h3> Hi! InstaEvents is proud to have you as an event organizer on our website.
              Feel free to post events and make sure to specify an event category for the events to make it easier for our users to find you event!
              Wish you all the success in your event!
         </h3>
              </div>
         <div class = "col-lg-3 pull-right" style="left: 10px">
             <div class= "row">
                 <a class="btn btn-primary btn-lg btn-success" role="button" href="#/eventcreation">Create Event</a>
            </div>
              </br>
              </br>
            <div class= "row">
                 <a class="btn btn-primary btn-lg btn-info" role="button" href="#/orgevents">View My Events</a>
           </div>
        </div>
      </div>
      </div>
